.sportsprop {
  display: flex;
  flex-wrap: wrap;
}
.parent {
  width: 80%;
  margin: auto;
}
.cards {
  width: 60%;
}

.cards img {
  width: 100%;
}

.cards h4 {
  font-size: 20px;
}
.firstp {
  font-weight: 500;
}
