.sportsprop {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.parent {
  width: 80%;
  margin: auto;
}
.cards {
  margin-top: 30px;
}
.sports-img {
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
.cards h4 {
  text-align: start;
  width: 300px;
}
.cards p {
  margin-bottom: -5px;
}
