.maindivs {
  padding-top: 30px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.Activitiesimages {
  width: 280px;
  height: 350px;
  border-radius: 15px;
  cursor: pointer;
}
.ActivitesPara {
  width: 260px;
  cursor: pointer;
  margin-bottom: -5px;
}
.Activiteshead {
  font-size: 19px;
  text-align: justify;
}
