#imagecontainer {
  height: 400px;
  width: 100%;
  display: flex;
  color: rgb(10, 25, 58);
}
#imga {
  height: 400px;
  width: 100%;
}
#container2 {
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#imagecontainer2 {
  width: 90%;
  margin: auto;
  height: 95%;
}
#imagevaluecontainer {
  width: 95%;
  height: 95%;
  margin: auto;
  display: flex;
  row-gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#imga2 {
  height: 80%;
  width: 220px;
  border-radius: 3px;
}
